body {
  background-color: #FFE599;
  font-family: 'Poppins', sans-serif;
}

.landingimg {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    margin-top: 80px;
}
.container {
  position: relative;
}
.quotecontainer {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 90%;
  bottom: 0;
  right: 15%;
  color: white;
  text-align: center;
}
